
        <!DOCTYPE html>
       <html lang="pt-BR">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Currículo</title>
            
            <h1>Currículo</h1>

            <h2>Informações</h2>

            <ul>
            <li><Strong>Nome: Arthur Master</Strong></li>
            <li><Strong>Idade: 17</Strong></li>
            <li><Strong>E-mail: Arthur Master</Strong></li>
            <li><Strong>Endereço: Rua Dom Modesto Augusto</Strong></li>
            </ul>

            <h2>Ocupação</h2>
            <li><Strong>Estudo no colégio cotemig e faço estágio.</Strong></li>

            <h2>Educação</h2>
            <ul>
            <li><Strong>2011 - 2023: Colégio Santa Maria</Strong></li>
            <li><Strong>2023 - 2026: Colégio Cotemig</Strong></li>
            </ul>

        </head>
        <body>
    
    </body>
        </html>
